body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    background: rgb(36, 36, 36);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #09C;
    color: white;
}
.vh{
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.conteneur{
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #5d5d5d;
    border-radius: 5px;
}
h2{
    color: white;
}
.nom{
    display: flex;
    gap: 30px;
    padding-top: 20px;
}
input{
    margin-left: auto;
}
.valider{
    margin: auto;
    padding: 20px;
    background: #09C;
    border-radius: 20px;
}
.resultat{
    color: #09C;
}
.erreur{
    color: black;
    background-color: red;
    border-radius: 20px;
padding: 10px;
padding-inline: 20px;
}
.gagner{
    color: black;
    background-color: rgb(199, 199, 0);
    border: 1px solid rgb(200, 200, 102);
    padding-inline: 20px;
    border-radius: 10px;
}
tr{
    border: 1px solid white;
}
td{
    border: solid 2px white;
}