body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-image: url(../img/papier-peint-paysage-onirique-surrealiste-dans-tons-violets.jpg);
    background-size: 100%;
}
/**header du formulaire**/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    border: solid 4px #6f0166;
    padding-inline: 50px;
    margin-right: 30px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.valider{
    margin-right: 20px;
    font-size: large;
    color: #000000;
    background: #ff84f1bd;
    padding: 10px;
    padding-inline: 50px;
    border-radius: 20px;
}
.flex2{
    display: flex;
    align-items: center;
}
.form{
    margin-inline: 20px;
    color: #1500ff;
}
img{
    width: 100%;
}
.centre{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centrer{
    color: rgb(255, 255, 255);
    border: solid 2px white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.droite{
    display: flex;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    margin-left: auto;
}
.nom{
}
.send{
    padding: 10px;
    padding-inline: 30px;
    background: #f79fd5;
    border: none;
    border-radius: 10px;
}